<div class="page-content">
  <mat-toolbar class="page-header">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div>{{ 'application.name' | adfAppConfig }}</div>

    <div class="app-toolbar-spacer"></div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <adf-picker-button></adf-picker-button>
      <button mat-menu-item adf-logout>
        <mat-icon>logout</mat-icon>
        <span>{{ 'APP.LOGOUT' | translate }}</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="page-container">
    <mat-sidenav #sidenav mode="side" opened="false" class="page-sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/documents">
          <mat-icon matListIcon>text_snippet</mat-icon>
          <div>{{ 'APP.NAV.DOCUMENTS' | translate }}</div>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
