<adf-sidenav-layout [sidenavMin]="70" [sidenavMax]="200" [stepOver]="780">
  <adf-sidenav-layout-header>
    <ng-template let-toggleMenu="toggleMenu">
      <adf-layout-header [title]="'application.name' | adfAppConfig" (clicked)="toggleMenu()"></adf-layout-header>
    </ng-template>
  </adf-sidenav-layout-header>

  <adf-sidenav-layout-navigation>
    <ng-template let-isMenuMinimized="isMenuMinimized">
      <mat-nav-list>
        <a mat-list-item routerLink="/login">
          <mat-icon matListIcon>vpn_key</mat-icon>
          <div *ngIf="!isMenuMinimized()">Login</div>
        </a>
        <a mat-list-item routerLink="/documents">
          <mat-icon matListIcon>folder_open</mat-icon>
          <div *ngIf="!isMenuMinimized()">Documents</div>
        </a>
        <a mat-list-item adf-logout>
          <mat-icon matListIcon>exit_to_app</mat-icon>
          <div *ngIf="!isMenuMinimized()">Logout</div>
        </a>
      </mat-nav-list>
    </ng-template>
  </adf-sidenav-layout-navigation>

  <adf-sidenav-layout-content>
    <ng-template>
      <router-outlet></router-outlet>
    </ng-template>
  </adf-sidenav-layout-content>
</adf-sidenav-layout>
