app-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .page-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }
}
