<h1>Dashboard</h1>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <app-dashboard-widget></app-dashboard-widget>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header>Header</mat-grid-tile-header>
    Widget 2
    <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header>Header</mat-grid-tile-header>
    Widget 3
    <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header>Header</mat-grid-tile-header>
    Widget 4
    <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

